.loader{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

background:#06090f;

color:white;

}

.loader h1{

font-size:60px;

color:#ffd700;

margin-bottom:15px;

font-family:"Bebas Neue",sans-serif;

letter-spacing:3px;

}

.loader p{

margin-bottom:30px;

color:#ccc;

}

.loading-bar{

width:280px;

height:8px;

background:#222;

border-radius:30px;

overflow:hidden;

}

.loading-fill{

height:100%;

width:0;

background:#ffd700;

animation:load 2s linear forwards;

}

@keyframes load{

to{

width:100%;

}

}